.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header{
  background-color: darkgray;
  align-content: center;
  padding-left: 2%;
  padding-right: 2%;
  height: 10%;
  min-height: 30px;
  position: sticky;
  top:0;
}

#sidebar{
  background-color: lightgrey;
  position: sticky;
  top:0;
  float:right;
  width: 20%;
  min-width: 30px;
  height: 100%;
  padding: 2%;
  box-sizing: border-box;
  
}

#feed {
background-color: gray;
height: 90%;
width:80%;
box-sizing: border-box;
padding-left: 5%;
padding-right: 2%;
overflow: scroll;
}

#root,body,html{
height: 100%;
}

.post{
  background-color: darkgray;
  padding: 20px;
  margin: 1%;
}

.post:hover{
  background-color: lightgray;
}

#addPostBtn{
  cursor: pointer;
  border-radius: 90%;
  background-color: lightgrey;
  font-size: large;
  text-align: center;
}

.commentOptions{
  display: none;
}
.viewCommentsBtn{
  height: 50px;
  cursor: pointer;
}

.newCommentField{
  font-size: large;
  background-color: lightgrey;
}
.newCommentField:hover{
  background-color: white;
}
.post:hover .commentOptions{
  display: block;
}

